<div class="container">
	<h1>Página de ações</h1>
	
    <span class="row">
		<span class="col-md-6"><a class="btn btn-lg btn-primary" href="/user/signup" role="button">novo usuário</a></span>
		<span class="col-md-6"><a class="btn btn-lg btn-primary" href="/user/" role="button">listar cadastrados</a></span>
	</span>
</div>