<div class="container">
	<h1><%= user.name %></h1>
	<p><%= user.title %></p>
	<hr>
	<p><%= user.email %></p>
	<p>
		<a class="btn btn-default btn-primary" href="/user/edit/<%= user.id %>">Editar</a>
	</p>
</div>